body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.grid{
   width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;


}